body{
    background: antiquewhite;
    margin: 0;
    padding: 0;
}
main{
    display:flex
}
aside{
    flex: 1;
    margin: 15;
    padding: 15px;
}
section{
    flex:4;
    margin:15;
    padding: 20px;
}
h2, h1{
    text-align: center;
}
