.services{
    display: grid;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
    box-sizing: border-box;
    grid-template-columns: 49% 49%;
    
}
#service_box{
    border-radius: 5px;
    background-color: #EEEEEE;
}

