/* this style contains the contact page and sign up page designs */
form{
    
    width: 70%;
    text-align: center;
    margin: 15%;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 100%; 
}
.center{
    margin-left: 40%;
    background-color: #EEEEEE; 
    width: 7em; 
    border-radius: 3px; 
    /* display: block; */
}

input{
    width: 100%;
    height: 40px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #EEEEEE;
    border-color: transparent;

}

#requestcallback{
    margin-left: 40%;
}

.basicinfo{
    /* display: flex; */
    /* display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 100%;  */
}
.info{
    background-color: #EEEEEE;
    border-radius: 10px;
    height: 8em;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
}
.joinit{
    margin-top: -40px;
}

.makenormal{
    text-decoration: none;
    color: #898989;
}