/* This css file contains the syyle for index only */

#block_it {
    margin-top: 90px;
    display: block;
}

.imageresize {
    margin-top: 50px;
}

#normal {
    /* margin-top: 10px; */
}

.what_we_do_images {
    display: flex;
    overflow-x: scroll;
    height: 530px;
    padding-bottom: 10px;

}

.imagebox {

    display: inline;
    margin-right: 40px;
    list-style: none;
    padding: 30px;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    background-color: #EEEEEE;
}

#image {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
}

#startproject {
    display: flex;
    position: relative;
    border-radius: 7px;
    width: 100%;
}

#startproject button {
    position: absolute;
    margin-top: 12px;
    margin-left: 59%;
    width: 38%;
}

.input_decoration {
    border-color: transparent;
    background-color: #EEEEEE;
    border-radius: 10px;
    width: 100%;
    display: block;
    padding: 14px;
    /* border: 1px solid #fc0; */
}

#display_check_result {
    border-color: transparent;
    border-radius: 5px;
    padding: 10px;
    width: 10em;
    background-color: #EEEEEE;
    display: block;
    color: #898989;
    font-size: 20px;
    text-align: left;
    margin-top: 40px;

}

#emphasize2 {
    margin-top: 60px;
}

.team_members {
    display: flex;
    overflow-x: scroll;
    height: 410px;
    padding-bottom: 20px;
}

.imagebox2 {
    display: inline;
    margin-right: 40px;
    list-style: none;
    padding: 30px;
    width: 400px;
    height: 330px;
    border-radius: 20px;
    background-color: #EEEEEE;
}