/* this style file contains all the displays for various screen types */
@media screen and (min-width: 1200px){
    #startproject button{
        margin-left: 60%;
    }

    #display_check_result{
        width: 15em;
    }

    .services{
        grid-template-columns: 30% 30% 30%;  
    }

    #service_box{
        width: 15em;
    }

    .button_decoration{
        width: 150px;
        font-size: 18px;
    }
}

@media screen and (max-width: 780px){
    .services{
        grid-template-columns: 100%;        
    }
    #service_box{
        border-radius: 5px;
    }
    
    #arrangewell1{
      /*display: none;*/
    }
}